/ElectronicDevice.class
/Television.class
/Command.class
/TurnTVOn.class
/TurnOnDevice.class
/TurnOffDevice.class
/TurnUpVolume.class
/DeviceButton.class
/PlayWithTvRemote.class
/Radio.class
/IncreaseVolumeInDevice.class
/TurnOffAllDevices.class
